<nav
  class="nav-bar-container"
  color="primary"
  mat-tab-nav-bar
  mat-align-tabs="center"
>
  <a
    routerLink="/home"
    routerLinkActive
    #rla1="routerLinkActive"
    [active]="rla1.isActive"
    mat-tab-link
    >Home</a
  >
  <a
    routerLink="/studies"
    routerLinkActive
    #rla2="routerLinkActive"
    [active]="rla2.isActive"
    mat-tab-link
    >Estudios</a
  >
  <a
    routerLink="/career"
    routerLinkActive
    #rla3="routerLinkActive"
    [active]="rla3.isActive"
    mat-tab-link
    >Carrera</a
  >
</nav>
