@import "~@angular/material/theming";
@import "./text-theme.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$md-primarylight: (
  50: #ebecec,
  100: #cececf,
  200: #aeaeb0,
  300: #8d8e90,
  400: #747578,
  500: #5c5d60,
  600: #545558,
  700: #4a4b4e,
  800: #414144,
  900: #303033,
  A100: #9191f6,
  A200: #6262f2,
  A400: #2121ff,
  A700: #0808ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-accentlight: (
  50: #fffaed,
  100: #fff4d1,
  200: #ffecb3,
  300: #ffe494,
  400: #ffdf7d,
  500: #ffd966,
  600: #ffd55e,
  700: #ffcf53,
  800: #ffca49,
  900: #ffc038,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e1,
  A700: #ffedc8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-warnlight: (
  50: #fbeded,
  100: #f6d1d1,
  200: #f0b3b3,
  300: #e99494,
  400: #e57d7d,
  500: #e06666,
  600: #dc5e5e,
  700: #d85353,
  800: #d34949,
  900: #cb3838,
  A100: #ffffff,
  A200: #ffe2e2,
  A400: #ffafaf,
  A700: #ff9696,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the default theme (same as the example above).
$light-primary: mat-palette($md-primarylight);
$light-accent: mat-palette($md-accentlight);
$light-warn: mat-palette($md-warnlight);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Include the default theme styles.
@include angular-material-theme($light-theme);

@include text-theme($light-theme);
